{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}

<div class="card">
    <div class="card-left">
        <img src="{{ url_for('static', filename='images/bloodbanklogin.jpg') }}" alt="Login picture">
    </div>

    <div class="card-right">
        <div class="form-container">
            <h2>Reset Password</h2>
        </div>

        <form method="POST" action="{{ url_for('reset_password') }}">
            <div class="input-group">
                <label for="new_password">Password</label>
                <input type="password" id="new_password" name="password" required>
            </div>

            <div class="input-group">
                <label for="confirm_new_password">Confirm Password</label>
                <input type="password" id="confirm_new_password" name="confirm_password" required>
                <a href="{{ url_for('reset_password') }}" class="reset-link">Forgot password?</a>
            </div>

            <button type="submit" class="submit-button">Update</button>
        </form>
    </div>
</div>

{% if error_popup %}
<script>
    alert("{{ error_popup }}");
</script>
{% endif %}

{% endblock %}