<!--placeholder-->

{% extends "base.html" %}

{% block title %}Home - Blood Bank{% endblock %}

{% block content %}
    <h1>About our services</h1>
    <p>Welcome to our blood bank page!</p>

    <h2> Who we are </h2>
    <p> We are a blood bank that utilizes modern technology to send blood packs to whoever is in need immediately. </p>

    <h2> Our mission </h2>
    <p> We aim to reduce the current burdens that the current blood banks are facing and to solve the issues faced by them.</p>

    <h2> Our vision </h2>
    <p> We aim to keep all blood types in sufficient amount and to urgently deliver them to hospital with as little delay as possible.</p>
{% endblock %}